*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    display: flex;
    margin: 0;
    min-height: 100vh;
}

main{
    flex: 1;
    padding: 50px;
}

h1{
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin-bottom: 40px;
}

header{
    display: none;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    position: fixed;
    background-color: #b80808;
    align-items: center;
}

.menu-openner{
    margin-right: 15px;
    font-size: 26px;
    padding: 5px 20px;
    border-radius: 5px;
}

.menu-openner span{
    margin-top: 10px;
}

.menu-close{
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

.models{
    display: none;
}

.modelo-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.modelo-item{
    text-align: center;
    max-width: 250px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin: 0 auto 50px auto;
}

.modelo-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.modelo-item-img{
    width: 280px;
    height: 280px;
    background-color: #eee;
    border-radius: 10%;
}

.modelo-item-img img{
    width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.modelo-item-add{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25%;
    background-color: #4a98cf;
    text-align: center;
    color: #fdf7f1;
    font-size: 22PX;
    cursor: pointer;
    transition: all ease 0.4s;
}

.modelo-item a:hover .modelo-item-add{
    background-color: #244c88;
}

.modelo-item-price{
    font-size: 15px;
    color: #333;
    margin-top: 10px;
}

.modelo-item-name{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.modelo-item-desc{
    font-size: 13px;
    color: #555;
    margin-top: 5px;
}

aside{
    background-color: darkred;
    width: 0vw;
    overflow: hidden;
    font-family: 'Hepta Slab', Helvetica, Arial;
}

.cart-area{
    padding: 20px;
}

.cart-area{
    width: 100vw;
}

.menu-close{
    display: block;
}

.modeloWindowArea{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(255, 255,255, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/*Media Queries*/
@media(max-width: 1350px){
    .modelo-area{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 1000px){
    header{
        display: flex;
    }

    main{
        padding-top: 80px;
    }

    aside{
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

